
html {
  --color-default: #fff0f4;
  --color-highlight: oklch(65% 0.18 15);

  --font-family-heading: 'Fraunces', Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
  --font-family-default: 'Noto Sans Display', Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

  scroll-snap-type: y mandatory;
  timeline-scope: --section;

  font-family: var(--font-family-default);

  margin: 0;
  padding: 0;

  & body {
    margin: 0;
  }
}

.catalog::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  width: 0; 
}

h2 > span {
  color: var(--color-highlight);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

body,
.content {
  background-color: var(--color-background, black);
}

main {
  view-timeline: --main;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  view-timeline: --section;
  height: 100dvh;
}

.content {
  overflow: hidden;
  position: fixed;
  inset: 0;
  --contrast: 4;
  --blur: 0.5rem;
  padding: 2dvh 5dvh;

  animation: zoom-scroll ease-in-out both;
  animation-timeline: --section;

  color: var(--color-default);

  display: flex;
  flex-direction: column;
  justify-content: center;

  & h2 {
    font-size: 8dvh;
    max-width: 100dvh;
  }

  & p {
    position: absolute;
    font-size: 6dvh;
    top: 70dvh;
    left: 25dvh;
    max-width: 100dvh;
  }

  & span {
    color: var(--color-highlight);
  }

  & img {
    height: 100dvh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    filter: drop-shadow(2px 2px 6px oklch(65% 0.18 15));
  }
}

@keyframes count-up {
  from { 
    content: '0'; 
  }
}

@keyframes increase-counter {
  to {
    content: attr(data-number);
  }
}

#counter span {
  animation: increase-counter 2s ease-out forwards;
}

#counter span::after {
  content: attr(data-number);
  animation: count-up 2s ease-out forwards;
  visibility: hidden;
}

// MAYBE USE THIS ANIMATION
@keyframes blink {
  0%,
  100% {
    filter: blur(var(--blur)) contrast(var(--contrast));
    opacity: 0;
    visibility: hidden;
  }

  50% {
    filter: blur(0) contrast(1);
    opacity: 1;
    visibility: visible;
  }
}

// ABOUT US ANIMATION
@keyframes zoom-scroll {
  0% {
    filter: blur(5rem);
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }

  50% {
    filter: blur(0);
    transform: none;
    opacity: 1;
    visibility: visible;
  }

  100% {
    filter: blur(3rem);
    transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }
}

// CATALOG

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.catalog {
  width: 100%;
  height: 100vh;
  background: black;
  position: relative;
  overflow-y: auto;
  padding-bottom: 10dvh;

  & h2 {
    color: var(--color-default);
    text-align: center;
    font-size: 6dvh;
  }
}

// .catalog {
//   width: 100%;
//   height: 100dvh;
//   background: black;
//   padding: 2dvh 0;
//   transition: background 2s, opacity 1s;
//   opacity: 0; /* Секция изначально невидима */
// }

.catalog.visible {
  opacity: 1;
}

.catalog.gradient {
  background: radial-gradient(circle, oklch(65% 0.18 15) 0%, rgba(0,0,0,1) 100%);
}


// .catalog-wrapper {
//   width: 100dvh;
//   height: 100%;
//   color: white;
  
// }

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}


.card {
  display: flex;
  justify-content: center;
  position: relative;
  display: block;
  height: 80%;
  width: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px + 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 99%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 3dvh;
  font-weight: 600;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__description {
  padding: 0 2em 1em;
  margin: 0;
  color: #D7BDCA;  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.button-container {
  display: flex;
  justify-content: center;

  & .apply {
    height: 7dvh;
    width: 25dvh;
    border: none;
    border-radius: 8px;
    color: var(--color-default);
    background-color: var(--color-highlight); 
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
  }

  & .apply:hover {
    letter-spacing: 2px;
    transition: 0.3s;
  }
}

.apply-close {
  position: absolute;
  filter: grayscale(1);
  top: 2dvh;
  right: 1dvh;
  background: transparent;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
  font-size: 2dvh;
}

.apply-close:hover {
  filter: none;
  scale: 1.2;
  transition: 0.3s;
}

dialog::backdrop {
  backdrop-filter: blur(20px) saturate(130%) brightness(110%);
}

#girlApplicant {
  border-radius: 20px;
  border: 0;
  height: 40dvh;
  width: 50dvh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#dataForm {
  border-radius: var(--curve);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  & input {
    height: 5dvh;
    width: 40dvh;
    border-radius: 15px;
    border: solid 1px #dfdfdf;
    color: #7b7b7b;
    display: flex;
    padding-left: 10px;
  }
}

input::placeholder {
  color: #B0B0B0;
}

.apply-send {
  height: 6dvh;
  width: 30dvh;
  border: none;
  border-radius: 8px;
  color: var(--color-default);
  background-color: var(--color-highlight);
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}

.apply-send:hover {
  letter-spacing: 2px;
  transition: 0.3s;
}

.popup {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  right: 30px;
  font-size: 17px;
}

.popup.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#clientFormDialog {
  border-radius: 20px;
  border: 0;
  height: 60dvh;
  width: 50dvh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#clientForm {
  border-radius: var(--curve);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  & input {
    height: 5dvh;
    width: 40dvh;
    border-radius: 15px;
    border: solid 1px #dfdfdf;
    color: #7b7b7b;
    display: flex;
    padding-left: 10px;
    margin-bottom: 15px;
  }
}