@charset "UTF-8";
html {
  --color-default: #fff0f4;
  --color-highlight: oklch(65% 0.18 15);
  --font-family-heading: "Fraunces", Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L", P052, Sylfaen, serif;
  --font-family-default: "Noto Sans Display", Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  timeline-scope: --section;
  font-family: var(--font-family-default);
  margin: 0;
  padding: 0;
}
html body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

body,
.content {
  background-color: var(--color-background, black);
}

main {
  view-timeline: --main;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  view-timeline: --section;
  height: 100dvh;
}

.content {
  overflow: hidden;
  position: fixed;
  inset: 0;
  --contrast: 4;
  --blur: 0.5rem;
  padding: 2dvh 5dvh;
  -webkit-animation: zoom-scroll ease-in-out both;
          animation: zoom-scroll ease-in-out both;
  animation-timeline: --section;
  color: var(--color-default);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content h2 {
  font-size: 8dvh;
  max-width: 100dvh;
}
.content p {
  position: absolute;
  font-size: 6dvh;
  top: 70dvh;
  left: 25dvh;
  max-width: 100dvh;
}
.content span {
  color: var(--color-highlight);
}
.content img {
  height: 100dvh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-filter: drop-shadow(2px 2px 6px oklch(65% 0.18 15));
          filter: drop-shadow(2px 2px 6px oklch(65% 0.18 15));
}

@-webkit-keyframes count-up {
  from {
    content: "0";
  }
}

@keyframes count-up {
  from {
    content: "0";
  }
}
@-webkit-keyframes increase-counter {
  to {
    content: attr(data-number);
  }
}
@keyframes increase-counter {
  to {
    content: attr(data-number);
  }
}
#counter span {
  -webkit-animation: increase-counter 2s ease-out forwards;
          animation: increase-counter 2s ease-out forwards;
}

#counter span::after {
  content: attr(data-number);
  -webkit-animation: count-up 2s ease-out forwards;
          animation: count-up 2s ease-out forwards;
  visibility: hidden;
}

@-webkit-keyframes blink {
  0%, 100% {
    -webkit-filter: blur(var(--blur)) contrast(var(--contrast));
            filter: blur(var(--blur)) contrast(var(--contrast));
    opacity: 0;
    visibility: hidden;
  }
  50% {
    -webkit-filter: blur(0) contrast(1);
            filter: blur(0) contrast(1);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes blink {
  0%, 100% {
    -webkit-filter: blur(var(--blur)) contrast(var(--contrast));
            filter: blur(var(--blur)) contrast(var(--contrast));
    opacity: 0;
    visibility: hidden;
  }
  50% {
    -webkit-filter: blur(0) contrast(1);
            filter: blur(0) contrast(1);
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes zoom-scroll {
  0% {
    -webkit-filter: blur(5rem);
            filter: blur(5rem);
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
  50% {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    visibility: visible;
  }
  100% {
    -webkit-filter: blur(3rem);
            filter: blur(3rem);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes zoom-scroll {
  0% {
    -webkit-filter: blur(5rem);
            filter: blur(5rem);
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
  50% {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    visibility: visible;
  }
  100% {
    -webkit-filter: blur(3rem);
            filter: blur(3rem);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }
}
.catalog {
  width: 100%;
  height: 100dvh;
  background: black;
  padding: 2dvh 0;
  -webkit-transition: background 2s, opacity 1s;
  transition: background 2s, opacity 1s;
  opacity: 0; /* Секция изначально невидима */
}

.catalog.visible {
  opacity: 1;
}

.catalog.gradient {
  background: radial-gradient(circle, oklch(65% 0.18 15) 0%, rgb(0, 0, 0) 100%);
}

.catalog-wrapper {
  width: 100dvh;
  height: 100%;
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px + 1px);
  background-color: var(--surface-color);
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.card__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 99%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.card__thumb {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 3dvh;
  font-weight: 600;
  margin: 0 0 0.3em;
  color: #6A515E;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}